PORT=3000
MONGODB_URI=mongodb+srv://abumafia0:abumafia0@abumafia.h1trttg.mongodb.net/toyimbor22?appName=abumafia
MONGODB_DB=toyimbor22
APP_TODAY=2026-04-04

# Cloudinary sozlansa fayl upload ishlaydi
CLOUDINARY_CLOUD_NAME=dpdldyjpq
CLOUDINARY_API_KEY=475948499473811
CLOUDINARY_API_SECRET=1ER3q8u1UP5jOIDIYrUUXj_f7Yw
